<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidApps"
        tools:targetApi="31">
        <activity
            android:name=".apps.DivisibleChecker"
            android:exported="false" />
        <activity
            android:name=".apps.UppercaseGreeting"
            android:exported="false" />
        <activity
            android:name=".apps.RandomQouteDisplay"
            android:exported="false" />
        <activity
            android:name=".apps.CurrencyFormatter"
            android:exported="false" />
        <activity
            android:name=".apps.OddSumCalculator"
            android:exported="false" />
        <activity
            android:name=".apps.FibonacciGenerator"
            android:exported="false" />
        <activity
            android:name=".apps.CompoundInterest"
            android:exported="false" />
        <activity
            android:name=".apps.SimpleInterest"
            android:exported="false" />
        <activity
            android:name=".apps.UsernameValidator"
            android:exported="false" />
        <activity
            android:name=".apps.BmiSolver"
            android:exported="false" />
        <activity
            android:name=".apps.WordShuffler"
            android:exported="false" />
        <activity
            android:name=".apps.UppercaseConverter"
            android:exported="false" />
        <activity
            android:name=".apps.MultipleChecker"
            android:exported="false" />
        <activity
            android:name=".apps.RandomNumberGenerator"
            android:exported="false" />
        <activity
            android:name=".apps.WordCounter"
            android:exported="false" />
        <activity
            android:name=".apps.GuessNumber"
            android:exported="false" />
        <activity
            android:name=".apps.TodoManager"
            android:exported="false" />
        <activity
            android:name=".apps.FactorialCalculator"
            android:exported="false" />
        <activity
            android:name=".apps.ShoppingList"
            android:exported="false" />
        <activity
            android:name=".apps.TemperatureConverter"
            android:exported="false" />
        <activity
            android:name=".apps.PalindromeChecker"
            android:exported="false" />
        <activity
            android:name=".apps.CharacterCounter"
            android:exported="false" />
        <activity
            android:name=".apps.BookmarkList"
            android:exported="false" />
        <activity
            android:name=".apps.FahrenheitToCelsius"
            android:exported="false" />
        <activity
            android:name=".apps.SimpleLogin"
            android:exported="false" />
        <activity
            android:name=".apps.MultiplicationTable"
            android:exported="false" />
        <activity
            android:name=".apps.ShowUserName"
            android:exported="false" />
        <activity
            android:name=".apps.ShowDate"
            android:exported="false" />
        <activity
            android:name=".apps.WordReverser"
            android:exported="false" />
        <activity
            android:name=".apps.EvenOddChecker"
            android:exported="false" />
        <activity
            android:name=".apps.CurrencyConverter"
            android:exported="false" />
        <activity
            android:name=".apps.UserGreeting"
            android:exported="false" />
        <activity
            android:name=".apps.UserAge"
            android:exported="false" />
        <activity
            android:name=".apps.TextLength"
            android:exported="false" />
        <activity
            android:name=".apps.SimpleForm"
            android:exported="false" />
        <activity
            android:name=".apps.ShowHelloButton"
            android:exported="false" />
        <activity
            android:name=".apps.DisplayName"
            android:exported="false" />
        <activity
            android:name=".apps.DisplayHelloWorld"
            android:exported="false" />
        <activity
            android:name=".apps.Counter"
            android:exported="false" />
        <activity
            android:name=".apps.Calculator"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>